<h1>{{name}}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalazedName}}</dd>




</dl>
<button
*ngIf="name !== 'Spiderman'"
(click)="changeAge()"
class="btn btn-primary mx-2">
Cambiar edad
</button>
<button

(click)="changeHero()" class="btn btn-primary" > Cambiar nombre </button>


<button
*ngIf="name !== 'Spiderman'"
(click)="resetForm()"
class="btn btn-primary mx-2">
reset form
</button>
